<div>
    <div>
        <%= form_with url: "/add_user", method: :post do |form| %>
          <%= form.text_field :user %>
          <%= form.submit "+" %>
        <% end %>
        <%= form_with url: "/game", method: :post do |form| %>
          <%= form.collection_select :id, @users, :id, :name %>
          <%= form.submit "Entrar" %>
        <% end %>
    </div>
</div>